.app {
  width: 100%;
  min-height: 100vh;
  /* Restore the gradient here */
  background: linear-gradient(to bottom right, var(--background-gradient-start), var(--background-gradient-end));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
